:root {
  --color-primary: #002fb1;
  --color-secondary: #5606a1;
  --color-accent: #ffc560;
  --color-content: #d1d1d1;
  --color-content-focus: #ffffff;
  --color-base: #000000;

  --font-sans: "Roboto", sans-serif;
  --font-serif: "Spectral", serif;

  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;
  --spacing-xl: 32px;
}
